<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CozmicBackupDataAccess.Properties.Settings.CIS_Backup_DatabaseConnectionString"
            connectionString="Data Source=ARIN-PCH\SQL04;Initial Catalog=CIS_Backup_Database;Persist Security Info=True;User ID=sa;Password=Lmi123!@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>